* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
}

html,body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background-color: black;   
}

.search-container {
    width: 80%;
    height: 100%;
    background-image: url("https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-virtual-background-_Tcjok-d9b4.jpg");
    background-size: cover;
    margin: auto;
}

.searchbar {
    width: 70%;
    height: 50%;
    margin: auto;
    position: relative;
    top: 190px;
}

.searchbar h1 {
    text-align: center;
}

.search-list {
    height: 70px;
    background-color: rgba(0,0,0,0.7);
    padding: 12px;
    display: flex
}

.search-list-container {
    width: calc(100% - 128px);
    height: 46px;
    background-color: white;
    margin-right: 16px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 1px;
}

.search-item {
    display: flex;
    align-items: center;
    padding-left: 12px;
    column-gap: 4px;
}

.search-list-container .search-item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.search-list-container .search-item:nth-child(1), .search-list-container .search-item:nth-child(2), .search-list-container .search-item:nth-child(3){
   border-right: 1px solid rgba(0,0,0,0.3);
}

.search-btn {
    width: 120px;
    height: 46px;
    color: white;
    background-color: #b68b60;
    text-align: center;
    line-height: 46px; 
}